body html {
    margin: 0px;
    padding: 0px;
}

/*<<!--<one section>-->*/

.home {
    color: #ea0763 !important;
}

.ticket {
    color: #3b1d82;
    font-size: 13px;
}

.ticket:hover {
    color: #3b1d82;
}

.list:hover {
    color: #ea0763 !important;
}

.list {
    color: black !important;
}

/*<!--<one section>-->*/

.banner-section {
    padding-top: 150px;
}

@media (max-width: 600px) {
    .banner-section img {
        width: 35px;
    }

    .banner-section h1 {
        font-size: 20px;
    }
}

.bg-img {
    background-image: url("../image/hero-banner.png");
    background-size: cover;
    height: 100%;
}

.banner-section h4 {
    font-weight: 400;
}

.banner-section h1 {
    font-size: 56px;
}

.bay-ticket {
    padding: 13px 45px;
    background-color: #ea0763;
    border: solid 1px #ea0763;
    border-radius: 5px;
}

.bay-ticket:hover {
    text-decoration: none;
    background-color: #b8024c;
}

/*<!--<two section>-->*/

.Innovative-con {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #f7f7f7;
}

.left-contain h4 {
    color: #3b1d82;
    font-weight: 500;
    width: 45%;
    font-family: 'Oswald', sans-serif;
}

.left-contain h5 {
    color: #ea0763;
}

.left-contain p {
    font-size: 15px;
}

@media (min-width: 1024px) {
    .date {
        position: relative;
        bottom: 30px;
        left: 100px;
    }
}

@media (max-width: 1024px) {
    .minute {
        position: relative;
        left: 110px;
        bottom: 70px;
    }

    .date {
        position: relative;
        bottom: 90px;
        left: 50px;
    }
}

@media (max-width: 800px) {
    .left-contain h4 {
        width: 55%;
    }

    .minute {
        position: relative;
        left: 0px;
        bottom: 0px;
    }

    .left-contain p {
        padding-bottom: 35px;
    }

    .date {
        position: relative;
        bottom: 30px;
        left: 145px;
    }
}

@media (max-width: 600px) {
    .left-contain h4 {
        width: 100%;
        font-size: 21px;
    }

    .day {
        position: relative;
        right: 35px;
    }

    .hour {
        position: relative;
        right: 35px;
    }

    .minute {
        position: relative;
        bottom: 55px;
        left: 50px;
    }

    .date {
        position: relative;
        bottom: 90px;
        left: -25px;
    }
}

@media (max-width: 400px) {
    .left-contain h4 {
        width: 100%;
        font-size: 19px;
    }
}

@media (max-width: 320px) {
    .left-contain h4 {
        width: 100%;
        font-size: 21px;
    }

    .day {
        position: relative;
        right: 70px;
    }

    .hour {
        position: relative;
        right: 45px;
    }

    .minute {
        position: relative;
        bottom: 55px;
        left: 0px;
    }
}

.day h3 {
    position: relative;
    bottom: 102px;
    margin-left: 43px;
    color: #3b1d82;
}

.day span {
    font-size: 14px;
    font-weight: 300;
    position: relative;
    bottom: 114px;
    margin-left: 53px;
}

.hour h3 {
    position: relative;
    bottom: 102px;
    margin-left: 50px;
    color: #3b1d82;
}

.hour span {
    position: relative;
    bottom: 115px;
    margin-left: 50px;
    color: #3b1d82;
}

.date {
    color: #ea0763;
    font-size: 18px;
}

.get-ticket {
    color: #3b1d82;
    font-size: 13px;
}

.get-ticket:hover {
    color: #3b1d82;
}

/*<!--<three section>-->*/
.ummet-section {
    padding: 110px 0px;
}

.ummet-intro {
    font-family: 'Oswald', sans-serif;
}

.ummet-intro h1 {
    color: #3b1d82;
}

.blue-img {
    position: absolute;
    top: 0px;
    left: 140px;
    opacity: 0;
}

.blue-img:hover .trophy {
    color: white;
}

.gray-img:hover .blue-img {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.trophy {
    font-size: 40px;
    color: #3b1d82;
    position: absolute;
    top: 28px;
    margin-left: 28px;
}

.trophy-2 {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 28px;
    margin-left: 28px;
}

.gray-img h5 {
    font-family: "Oswald", sans-serif;
}

.gray-img p {
    font-weight: 300;
    width: 85%;
    margin-left: 27px;
    color: #797979;
    margin-top: 20px;
}

.ummet-btn-1 {
    padding: 12px 54px;
    border: solid 1px #3b1d82;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.ummet-btn-1:hover {
    text-decoration: none;
    background: #3b1d82;
    color: white;
}

@media (max-width: 425px) {
    .ummet-btn-1 {
        padding: 10px 25px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .ummet-btn-1 {
        padding: 10px 25px;
        font-size: 12px;
        margin-left: 50px;
    }
}

/*<four section>*/
.section-padding {
    padding: 120px 0;
}

.Speaker {
    background-image: url("../image/speaker-bg.png");
    background-size: cover;
}

.section-intro {
    font-family: 'Oswald', sans-serif;
}

.card-img {
    width: 100%;
}

.card-speaker {
    border: solid 10px #fff;
    position: relative;
    overflow: hidden;
}

.speaker-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(59, 29, 130, 0.8);
    padding: 10px 5px;
    color: white;
    z-index: 2;
}

.speaker-social {
    position: absolute;
    top: 40%;
    left: 33%;
    text-align: center;
}

.speaker-social li i {
    color: white;
    font-size: 14px;
    opacity: 0.7;
}

.speaker-overlay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.speaker-overlay li {
    display: inline-block;
    margin: 8px;
}

.speaker-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(59, 29, 130, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
    opacity: 0;
    transform: translateY(-60px);
}

.card-speaker:hover .speaker-footer {
    background: rgba(234, 7, 99, 0.6);
}

.card-speaker:hover .speaker-overlay {
    opacity: 1;
    transform: translateY(0);
}

/*<five-section>*/
.Conference-Schedule {
    padding: 120px 0px;
}
.Schedule h1 {
    color: #3b1d82;
    font-family: "Oswald", sans-serif;
}
.schedule ul{
    list-style-type: none;
}
.schedule li{
    padding: 13px 42px;
    background: #f7f7f7 ;
    display: inline-block;
    font-family: "Oswald", sans-serif;
}
.schedule-list{
    text-decoration: none;
}
.schedule a{
    color: black;
}
.schedule:hover a{
    color: black;
}
.schedule p{
    font-size: 15px;
    font-family: sans-serif;
    color:#797979 ;
}
.bg-list-2{
    background: #3b1d82 !important;
}
.bg-list-2 p{
    color: white;
}
.bg-list-2 h5{
    color: white;
}
@media(max-width: 800px) {
    .schedule li{
        padding: 0px 22px;
        margin-right: -20px;
    }
}
@media(max-width: 425px) {
    .schedule li{
        padding: 0px 10px;
        position: relative;
        right: 53px;
        margin-bottom: 10px;
    }
}
@media(max-width: 375px) {
    .schedule li{
        padding: 0px 10px;
        position: relative;
        right: 29px;
        margin-bottom: 10px;
    }
}
.schedule-img{
    font-family: "Oswald", sans-serif;
    background: #3b1d82;
    color: white;
    text-align: center;
    padding-top: 35px;
}
.main-schedule{
    background: #f7f7f7;
}
.main-schedule:hover .schedule-img{
    background: #ea0763;
}
.schedule-text h6{
    font-size: 14px;
    color: #797979;
}
.schedule-text h4{
    font-family: "Oswald", sans-serif;
}
.schedule-text p{
    color:#797979;
    font-size: 15px;
}

<!-- /*<six-section>*/ -->
.Choose-Ticket {
    padding: 120px 0px;
    background: #f7f7f7;
}
.ticket-Schedule h1 {
    color: #3b1d82;
    font-family: "Oswald", sans-serif;
}

.ticket-list {
    border-radius: 4px;
    font-family: "Oswald", sans-serif;
}
.price {
    font-size: 60px;
}
.price span {
    font-size: 40px;
}
.price-heading {
    padding: 40px;
    border-bottom: solid 1px #ebebeb;
}
.ticket-list:hover .price-heading{
    border-bottom: solid 1px #797979;
}
.ticket-list:hover .price-list{
    color: white;
}
.ticket-list:hover .price-list i{
    color: white;
}
.ticket-list:hover .price-list-cross{
    color: white;
}
.pricetable-list {
    list-style-type: none;
    padding-left: 0px;
    padding: 20px 0px;
    border-bottom: solid 1px #ebebeb;
}
.ticket-list:hover .pricetable-list{
    border-bottom: solid 1px #797979;
}
.all-font:hover{
    color: white;
}
.price-list i{
    font-size: 12px;
    letter-spacing: 13px;
    color: #797979;
}
.price-list-cross i{
    font-size: 12px;
    letter-spacing: 13px;
    color: #ea0763;
}
.pricetable-list span{
    color: #797979;
    font-family: sans-serif;
}
.pricetable-list li{
    margin-bottom: 8px;
}
.price-btn {
    padding: 12px 54px;
    border: solid 1px #eeeeee;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    background: #f7f7f7;
    margin-top: 15px;
}
.price-btn:hover {
    text-decoration: none;
    background: #ea0763;
    color: white;
}
.price-btn-a{
    padding-top: 25px;
    padding-bottom: 25px;
}
.ticket-list:hover .price-heading{
    background: #3b1d82;
}
.ticket-list:hover .pricetable-list{
    background: #3b1d82;
}
.ticket-list:hover .price-btn{
    background: #ea0763;
}
.ticket-list:hover .price-btn-a{
    background: #3b1d82;
}
.ticket-list:hover .price-btn{
    color: white;
}

<!--/*<seven-section>*/-->
.Event-Plan{
    background-image: url("../image/sponsor-bg.png");
    background-size: cover;
    padding: 120px 0px;
}
.Event-Plan h4{
    font-family: "Oswald", sans-serif;
    text-align: center;
}
.sponsor-single{
    border: solid 5px white;
    height: 140px;
    padding-top: 40px;
}
@media (min-width: 1024px) {
    .sponsor-single{
        border: solid 5px white;
        height: 140px;
        padding-top: 40px;
        width: 95%;
    }
}
@media (min-width: 992px){
    .onr {
        max-width: 75%;
    }
}
.sponsor-single:hover{
box-shadow: 0px 5px 20px 0px rgba(10,9,13,0.15);
}

<!--/*<eight-section>*/-->
.party{
    background-image: url("../image/speaker-bg.png");
    background-size: cover;
    padding: 120px 0px;
}
.gallery-uper{
    position: absolute;
    background: rgba(1,1,14,0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease 0s;
    transform: translateY(60px);
}
.glry-over:hover .gallery-uper{
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}
.gl-uper-icon{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    background: rgba(234,7,99,0.8);
    text-align: center;
    padding-top: 17px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*<!--<footer-section>-->*/
.footer-bg {
    padding-top: 120px;
    background: #111429
}

.foot-con h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    color: white;
}

.foot-con p {
    color: #666;
    font-size: 15px;
    line-height: 22px;
}

.foot-con ul {
    width: 80%;
}

.foot-con ul li {
    padding-bottom: 8px;
}

.foot-con a {
    color: #666;
}

.foot-con a:hover {
    text-decoration: none;
}

.email {
    background-color: white;
    font-size: 14px;
    padding: 10px 20px;
    color: #666;
    border: none;
    width: 84%;
}

.email-btn {
    width: 42px;
    height: 42px;
    background-color: #ea0763;
    border: none;
    position: absolute;
    bottom: 47px;
}

.instafid {
    font-family: "Oswald", sans-serif;
    color: white;
}